<!DOCTYPE html>
<html>
  <head>
    <title>Despliegue en la nube con Heroku</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Despliegue en la nube con Heroku</h1>
    <p>Bienvenidos a la primera práctica de SAT </p>
  </body>
</html>
