<!DOCTYPE html>
<html>
  <head>
    <title>Despliegue en la nube con Heroku</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Despliegue en la nube con Heroku</h1>
    <div align="center"><img src="https://e17r5k-datap1.s3-eu-west-1.amazonaws.com/evercorp-empleo-blog/s3fs-public/estructura_inicial_2.png"></div>
    <h2>Bienvenidos a la primera práctica de SAT<br></h2>
    <p>Para más información sobre Heroku o la asignatura de SAT del Máster de Ingeniería de Telecomunicación, pincha en los siguientes botones </p>
    <a class="boton1" href="https://ifgeekthen.nttdata.com/es/Que%20es%20Heroku%20y%20principales%20caracter%C3%ADsticas">HEROKU</a>
    <a class="boton2" href="https://www2.ulpgc.es/plan-estudio/5023/51/51235">SAT</a>
  </body>
</html>
